<div class="sidebar">
  <nav class="navbar">
    <ul class="nav-links">
      <li><button (click)="onClick()" class="btn btn-outline-danger mt-5">Cerrar sesion</button></li>
    </ul>
  </nav>
  <div class="contenedor">
    <p id="alert1"></p>
    <div id="chatbot"></div>
    <div class="contenedor2">
      <input type="text" id="userInput" placeholder="Escribe aquí tu mensaje...">
      <div class="boton">
        <img id="sendButton" src="assets/send.png">
      </div>
    </div>
    <div class="contenedor3"></div>
  </div>
</div>
