.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  margin-top: 200px;
  max-height: 80vh; 
  overflow: hidden; 
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%; /* Hace que el ancho del input sea completo */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2E8B57;
}

.register {
  margin-top: 10px;
  text-align: center;
}

.register p {
  margin-bottom: 10px;
}

.register button {
  background-color: #1E90FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register button:hover {
  background-color: #007FFF;
}

.g-logo {
  width: 50px;
  height: 50px;
}

.g-logo:hover {
  cursor: pointer;
}


.separator {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
}

.o{
 margin: 20px 0px;
 opacity: 50%;
}